:root{
--ADS-Color-Black-00: rgba(0,0,0,0);
--ADS-Color-Black-04: rgba(0,0,0,0.04);
--ADS-Color-Black-08: rgba(0,0,0,0.08);
--ADS-Color-Black-12: rgba(0,0,0,0.12);
--ADS-Color-Black-25: rgba(0,0,0,0.25);
--ADS-Color-Black-50: rgba(0,0,0,0.5);
--ADS-Color-Black-75: rgba(0,0,0,0.75);
--ADS-Color-Black-90: rgba(0,0,0,0.9);
--ADS-Color-Black-100: #000000;

--ADS-Color-Blue-Dark-Opacity-02: rgba(5,163,232,0.02);
--ADS-Color-Blue-Dark-Opacity-04: rgba(5,163,232,0.04);
--ADS-Color-Blue-Dark-Opacity-08: rgba(5,163,232,0.08);
--ADS-Color-Blue-Dark-Opacity-12: rgba(5,163,232,0.12);
--ADS-Color-Blue-Dark-Opacity-25: rgba(5,163,232,0.25);
--ADS-Color-Blue-Dark-Opacity-50: rgba(5,163,232,0.5);
--ADS-Color-Blue-Dark-Opacity-75: rgba(5,163,232,0.75);
--ADS-Color-Blue-Dark-Opacity-90: rgba(5,163,232,0.9);
--ADS-Color-Blue-Dark-Opacity-100: #05A3E8;

--ADS-Color-Blue-Dark-Solid-50: #E1F4FC;
--ADS-Color-Blue-Dark-Solid-100: #B2E3F8;
--ADS-Color-Blue-Dark-Solid-200: #80D1F3;
--ADS-Color-Blue-Dark-Solid-300: #4FBFEE;
--ADS-Color-Blue-Dark-Solid-400: #2BB1EB;
--ADS-Color-Blue-Dark-Solid-500: #05A3E8;
--ADS-Color-Blue-Dark-Solid-600: #0296D9;
--ADS-Color-Blue-Dark-Solid-700: #0084C6;
--ADS-Color-Blue-Dark-Solid-800: #0073B2;
--ADS-Color-Blue-Dark-Solid-900: #005390;

--ADS-Color-Blue-Light-Opacity-02: rgba(5,163,232,0.02);
--ADS-Color-Blue-Light-Opacity-04: rgba(5,163,232,0.04);
--ADS-Color-Blue-Light-Opacity-08: rgba(5,163,232,0.08);
--ADS-Color-Blue-Light-Opacity-12: rgba(5,163,232,0.12);
--ADS-Color-Blue-Light-Opacity-25: rgba(5,163,232,0.25);
--ADS-Color-Blue-Light-Opacity-50: rgba(5,163,232,0.5);
--ADS-Color-Blue-Light-Opacity-75: rgba(5,163,232,0.75);
--ADS-Color-Blue-Light-Opacity-90: rgba(5,163,232,0.9);
--ADS-Color-Blue-Light-Opacity-100: #05A3E8;

--ADS-Color-Blue-Light-Solid-50: #E1F4FC;
--ADS-Color-Blue-Light-Solid-100: #B2E3F8;
--ADS-Color-Blue-Light-Solid-200: #80D1F3;
--ADS-Color-Blue-Light-Solid-300: #4FBFEE;
--ADS-Color-Blue-Light-Solid-400: #2BB1EB;
--ADS-Color-Blue-Light-Solid-500: #05A3E8;
--ADS-Color-Blue-Light-Solid-600: #0296D9;
--ADS-Color-Blue-Light-Solid-700: #0084C6;
--ADS-Color-Blue-Light-Solid-800: #0073B2;
--ADS-Color-Blue-Light-Solid-900: #005390;

--ADS-Color-Grayscale-Dark-00: #09090B;
--ADS-Color-Grayscale-Dark-05: #131417;
--ADS-Color-Grayscale-Dark-10: #1D1E21;
--ADS-Color-Grayscale-Dark-20: #252629;
--ADS-Color-Grayscale-Dark-30: #37393D;
--ADS-Color-Grayscale-Dark-40: #61656B;
--ADS-Color-Grayscale-Dark-50: #888D94;
--ADS-Color-Grayscale-Dark-60: #B5BABF;
--ADS-Color-Grayscale-Dark-70: #DFE4EB;
--ADS-Color-Grayscale-Dark-80: #EDF1F5;
--ADS-Color-Grayscale-Dark-90: #F7F9FA;

--ADS-Color-Grayscale-Light-00: #FFFFFF;
--ADS-Color-Grayscale-Light-05: #FBFBFC;
--ADS-Color-Grayscale-Light-10: #F5F5F9;
--ADS-Color-Grayscale-Light-20: #E6E7EF;
--ADS-Color-Grayscale-Light-30: #D3D6E0;
--ADS-Color-Grayscale-Light-40: #9DA1B1;
--ADS-Color-Grayscale-Light-50: #6F7285;
--ADS-Color-Grayscale-Light-60: #484B62;
--ADS-Color-Grayscale-Light-70: #292A33;
--ADS-Color-Grayscale-Light-80: #212226;
--ADS-Color-Grayscale-Light-90: #16171A;

--ADS-Color-Green-Dark-Opacity-02: rgba(0,179,65,0.02);
--ADS-Color-Green-Dark-Opacity-04: rgba(0,179,65,0.04);
--ADS-Color-Green-Dark-Opacity-08: rgba(0,179,65,0.08);
--ADS-Color-Green-Dark-Opacity-12: rgba(0,179,65,0.12);
--ADS-Color-Green-Dark-Opacity-25: rgba(0,179,65,0.25);
--ADS-Color-Green-Dark-Opacity-50: rgba(0,179,65,0.5);
--ADS-Color-Green-Dark-Opacity-75: rgba(0,179,65,0.75);
--ADS-Color-Green-Dark-Opacity-90: rgba(0,179,65,0.9);
--ADS-Color-Green-Dark-Opacity-100: #00B341;

--ADS-Color-Green-Dark-Solid-50: #E5F6E8;
--ADS-Color-Green-Dark-Solid-100: #C1E8C6;
--ADS-Color-Green-Dark-Solid-200: #98D9A2;
--ADS-Color-Green-Dark-Solid-300: #6BCA7C;
--ADS-Color-Green-Dark-Solid-400: #44BF5F;
--ADS-Color-Green-Dark-Solid-500: #00B341;
--ADS-Color-Green-Dark-Solid-600: #00A439;
--ADS-Color-Green-Dark-Solid-700: #00922D;
--ADS-Color-Green-Dark-Solid-800: #008121;
--ADS-Color-Green-Dark-Solid-900: #006208;

--ADS-Color-Green-Light-Opacity-02: rgba(0,172,82,0.02);
--ADS-Color-Green-Light-Opacity-04: rgba(0,172,82,0.04);
--ADS-Color-Green-Light-Opacity-08: rgba(0,172,82,0.08);
--ADS-Color-Green-Light-Opacity-12: rgba(0,172,82,0.12);
--ADS-Color-Green-Light-Opacity-25: rgba(0,172,82,0.25);
--ADS-Color-Green-Light-Opacity-50: rgba(0,172,82,0.5);
--ADS-Color-Green-Light-Opacity-75: rgba(0,172,82,0.75);
--ADS-Color-Green-Light-Opacity-90: rgba(0,172,82,0.9);
--ADS-Color-Green-Light-Opacity-100: #00AC52;

--ADS-Color-Green-Light-Solid-50: #E5F5E9;
--ADS-Color-Green-Light-Solid-100: #BFE5CA;
--ADS-Color-Green-Light-Solid-200: #96D5A8;
--ADS-Color-Green-Light-Solid-300: #68C586;
--ADS-Color-Green-Light-Solid-400: #42B96D;
--ADS-Color-Green-Light-Solid-500: #00AC52;
--ADS-Color-Green-Light-Solid-600: #009D4A;
--ADS-Color-Green-Light-Solid-700: #008B3E;
--ADS-Color-Green-Light-Solid-800: #007A33;
--ADS-Color-Green-Light-Solid-900: #005B1F;

--ADS-Color-Pink-Dark-Opacity-02: rgba(255,89,140,0.02);
--ADS-Color-Pink-Dark-Opacity-04: rgba(255,89,140,0.04);
--ADS-Color-Pink-Dark-Opacity-08: rgba(255,89,140,0.08);
--ADS-Color-Pink-Dark-Opacity-12: rgba(255,89,140,0.12);
--ADS-Color-Pink-Dark-Opacity-25: rgba(255,89,140,0.25);
--ADS-Color-Pink-Dark-Opacity-50: rgba(255,89,140,0.5);
--ADS-Color-Pink-Dark-Opacity-75: rgba(255,89,140,0.75);
--ADS-Color-Pink-Dark-Opacity-90: rgba(255,89,140,0.9);
--ADS-Color-Pink-Dark-Opacity-100: #FF598C;

--ADS-Color-Pink-Dark-Solid-50: #FCE3E9;
--ADS-Color-Pink-Dark-Solid-100: #F7B8C9;
--ADS-Color-Pink-Dark-Solid-200: #FF8BAC;
--ADS-Color-Pink-Dark-Solid-300: #FF598B;
--ADS-Color-Pink-Dark-Solid-400: #FD2C71;
--ADS-Color-Pink-Dark-Solid-500: #F80058;
--ADS-Color-Pink-Dark-Solid-600: #E80056;
--ADS-Color-Pink-Dark-Solid-700: #D20053;
--ADS-Color-Pink-Dark-Solid-800: #BD0050;
--ADS-Color-Pink-Dark-Solid-900: #98004C;

--ADS-Color-Pink-Light-Opacity-02: rgba(223,15,80,0.02);
--ADS-Color-Pink-Light-Opacity-04: rgba(223,15,80,0.04);
--ADS-Color-Pink-Light-Opacity-08: rgba(223,15,80,0.08);
--ADS-Color-Pink-Light-Opacity-12: rgba(223,15,80,0.12);
--ADS-Color-Pink-Light-Opacity-25: rgba(223,15,80,0.25);
--ADS-Color-Pink-Light-Opacity-50: rgba(223,15,80,0.5);
--ADS-Color-Pink-Light-Opacity-75: rgba(223,15,80,0.75);
--ADS-Color-Pink-Light-Opacity-90: rgba(223,15,80,0.9);
--ADS-Color-Pink-Light-Opacity-100: #DF0F50;

--ADS-Color-Pink-Light-Solid-50: #FCE3E9;
--ADS-Color-Pink-Light-Solid-100: #F7B8C9;
--ADS-Color-Pink-Light-Solid-200: #F18AA6;
--ADS-Color-Pink-Light-Solid-300: #EB5B83;
--ADS-Color-Pink-Light-Solid-400: #E53869;
--ADS-Color-Pink-Light-Solid-500: #DF0F50;
--ADS-Color-Pink-Light-Solid-600: #CF0A4F;
--ADS-Color-Pink-Light-Solid-700: #BA064B;
--ADS-Color-Pink-Light-Solid-800: #A60048;
--ADS-Color-Pink-Light-Solid-900: #820041;

--ADS-Color-Red-Dark-Opacity-02: rgba(255,66,66,0.02);
--ADS-Color-Red-Dark-Opacity-04: rgba(255,66,66,0.04);
--ADS-Color-Red-Dark-Opacity-08: rgba(255,66,66,0.08);
--ADS-Color-Red-Dark-Opacity-12: rgba(255,66,66,0.12);
--ADS-Color-Red-Dark-Opacity-25: rgba(255,66,66,0.25);
--ADS-Color-Red-Dark-Opacity-50: rgba(255,66,66,0.5);
--ADS-Color-Red-Dark-Opacity-75: rgba(255,66,66,0.75);
--ADS-Color-Red-Dark-Opacity-90: rgba(255,66,66,0.9);
--ADS-Color-Red-Dark-Opacity-100: #FF4242;

--ADS-Color-Red-Dark-Solid-50: #FFECF0;
--ADS-Color-Red-Dark-Solid-100: #FFCFD6;
--ADS-Color-Red-Dark-Solid-200: #F39CA0;
--ADS-Color-Red-Dark-Solid-300: #EC757B;
--ADS-Color-Red-Dark-Solid-400: #F8545A;
--ADS-Color-Red-Dark-Solid-500: #FF4242;
--ADS-Color-Red-Dark-Solid-600: #EF3840;
--ADS-Color-Red-Dark-Solid-700: #DD2E3A;
--ADS-Color-Red-Dark-Solid-800: #D02632;
--ADS-Color-Red-Dark-Solid-900: #C11826;

--ADS-Color-Red-Light-Opacity-02: rgba(255,66,66,0.02);
--ADS-Color-Red-Light-Opacity-04: rgba(255,66,66,0.04);
--ADS-Color-Red-Light-Opacity-08: rgba(255,66,66,0.08);
--ADS-Color-Red-Light-Opacity-12: rgba(255,66,66,0.12);
--ADS-Color-Red-Light-Opacity-25: rgba(255,66,66,0.25);
--ADS-Color-Red-Light-Opacity-50: rgba(255,66,66,0.5);
--ADS-Color-Red-Light-Opacity-75: rgba(255,66,66,0.75);
--ADS-Color-Red-Light-Opacity-90: rgba(255,66,66,0.9);
--ADS-Color-Red-Light-Opacity-100: #FF4242;

--ADS-Color-Red-Light-Solid-50: #FFECF0;
--ADS-Color-Red-Light-Solid-100: #FFCFD6;
--ADS-Color-Red-Light-Solid-200: #F39CA0;
--ADS-Color-Red-Light-Solid-300: #EC757B;
--ADS-Color-Red-Light-Solid-400: #F8545A;
--ADS-Color-Red-Light-Solid-500: #FF4242;
--ADS-Color-Red-Light-Solid-600: #EF3840;
--ADS-Color-Red-Light-Solid-700: #DD2E3A;
--ADS-Color-Red-Light-Solid-800: #D02632;
--ADS-Color-Red-Light-Solid-900: #C11826;

--ADS-Color-White-00: rgba(255,255,255,0);
--ADS-Color-White-04: rgba(255,255,255,0.04);
--ADS-Color-White-08: rgba(255,255,255,0.08);
--ADS-Color-White-12: rgba(255,255,255,0.12);
--ADS-Color-White-25: rgba(255,255,255,0.25);
--ADS-Color-White-50: rgba(255,255,255,0.5);
--ADS-Color-White-75: rgba(255,255,255,0.75);
--ADS-Color-White-90: rgba(255,255,255,0.9);
--ADS-Color-White-100: #FFFFFF;

--ADS-Color-Yellow-Dark-Opacity-02: rgba(255,191,0,0.02);
--ADS-Color-Yellow-Dark-Opacity-04: rgba(255,191,0,0.04);
--ADS-Color-Yellow-Dark-Opacity-08: rgba(255,191,0,0.08);
--ADS-Color-Yellow-Dark-Opacity-12: rgba(255,191,0,0.12);
--ADS-Color-Yellow-Dark-Opacity-25: rgba(255,191,0,0.25);
--ADS-Color-Yellow-Dark-Opacity-50: rgba(255,191,0,0.5);
--ADS-Color-Yellow-Dark-Opacity-75: rgba(255,191,0,0.75);
--ADS-Color-Yellow-Dark-Opacity-90: rgba(255,191,0,0.9);
--ADS-Color-Yellow-Dark-Opacity-100: #FFBF00;

--ADS-Color-Yellow-Dark-Solid-50: #FFF8E1;
--ADS-Color-Yellow-Dark-Solid-100: #FFEBB2;
--ADS-Color-Yellow-Dark-Solid-200: #FFDF81;
--ADS-Color-Yellow-Dark-Solid-300: #FFD44D;
--ADS-Color-Yellow-Dark-Solid-400: #FFC825;
--ADS-Color-Yellow-Dark-Solid-500: #FFBF00;
--ADS-Color-Yellow-Dark-Solid-600: #FFB100;
--ADS-Color-Yellow-Dark-Solid-700: #FF9E00;
--ADS-Color-Yellow-Dark-Solid-800: #FF8D00;
--ADS-Color-Yellow-Dark-Solid-900: #FF6D00;

--ADS-Color-Yellow-Light-Opacity-02: rgba(255,191,0,0.02);
--ADS-Color-Yellow-Light-Opacity-04: rgba(255,191,0,0.04);
--ADS-Color-Yellow-Light-Opacity-08: rgba(255,191,0,0.08);
--ADS-Color-Yellow-Light-Opacity-12: rgba(255,191,0,0.12);
--ADS-Color-Yellow-Light-Opacity-25: rgba(255,191,0,0.25);
--ADS-Color-Yellow-Light-Opacity-50: rgba(255,191,0,0.5);
--ADS-Color-Yellow-Light-Opacity-75: rgba(255,191,0,0.75);
--ADS-Color-Yellow-Light-Opacity-90: rgba(255,191,0,0.9);
--ADS-Color-Yellow-Light-Opacity-100: #FFBF00;

--ADS-Color-Yellow-Light-Solid-50: #FFF8E1;
--ADS-Color-Yellow-Light-Solid-100: #FFEBB2;
--ADS-Color-Yellow-Light-Solid-200: #FFDF81;
--ADS-Color-Yellow-Light-Solid-300: #FFD44D;
--ADS-Color-Yellow-Light-Solid-400: #FFC825;
--ADS-Color-Yellow-Light-Solid-500: #FFBF00;
--ADS-Color-Yellow-Light-Solid-600: #FFB100;
--ADS-Color-Yellow-Light-Solid-700: #FF9E00;
--ADS-Color-Yellow-Light-Solid-800: #FF8D00;
--ADS-Color-Yellow-Light-Solid-900: #FF6D00
}