/*

1- Use the token template provided by Aparat at this link.
https://www.figma.com/template-URL-goes-here

2- Export the tokens in Figma using this component.
https://www.figma.com/community/plugin/1382804904426179542/export-variables-css-scss-tailwind

3- Copy and paste the exported values below.
4- Commit and push.

*/


/* -------- COLORS -------- */


:root {
    --ads-color-white-100: rgba(255, 255, 255, 1);
    --ads-color-white-90: rgba(255, 255, 255, 0.8999999761581421);
    --ads-color-white-75: rgba(255, 255, 255, 0.75);
    --ads-color-black-100: rgba(0, 0, 0, 1);
    --ads-color-black-90: rgba(0, 0, 0, 0.8999999761581421);
    --ads-color-black-75: rgba(0, 0, 0, 0.75);
    --ads-color-black-50: rgba(0, 0, 0, 0.5);
    --ads-color-white-50: rgba(255, 255, 255, 0.5);
    --ads-color-white-25: rgba(255, 255, 255, 0.25);
    --ads-color-black-25: rgba(0, 0, 0, 0.25);
    --ads-color-white-12: rgba(255, 255, 255, 0.11999999731779099);
    --ads-color-black-12: rgba(0, 0, 0, 0.11999999731779099);
    --ads-color-black-08: rgba(0, 0, 0, 0.07999999821186066);
    --ads-color-white-08: rgba(255, 255, 255, 0.07999999821186066);
    --ads-color-grayscale-light-00: rgba(255, 255, 255, 1);
    --ads-color-white-04: rgba(255, 255, 255, 0.03999999910593033);
    --ads-color-white-00: rgba(255, 255, 255, 0);
    --ads-color-black-04: rgba(0, 0, 0, 0.03999999910593033);
    --ads-color-black-00: rgba(0, 0, 0, 0);
    --ads-color-grayscale-light-05: rgba(251, 251, 252, 1);
    --ads-color-grayscale-light-10: rgba(245, 245, 249, 1);
    --ads-color-grayscale-light-20: rgba(230, 231, 239, 1);
    --ads-color-grayscale-light-30: rgba(211, 214, 224, 1);
    --ads-color-grayscale-light-40: rgba(157, 161, 177, 1);
    --ads-color-grayscale-light-50: rgba(111, 114, 133, 1);
    --ads-color-grayscale-light-60: rgba(72, 75, 98, 1);
    --ads-color-grayscale-light-70: rgba(41, 42, 51, 1);
    --ads-color-grayscale-light-80: rgba(33, 34, 38, 1);
    --ads-color-grayscale-light-90: rgba(22, 23, 26, 1);
    --ads-color-pink-light-solid-900: rgba(130, 0, 65, 1);
    --ads-color-pink-light-solid-800: rgba(166, 0, 72, 1);
    --ads-color-pink-light-solid-700: rgba(186, 6, 75, 1);
    --ads-color-pink-light-solid-600: rgba(207, 10, 79, 1);
    --ads-color-pink-light-solid-500: rgba(223, 15, 80, 1);
    --ads-color-pink-light-solid-400: rgba(229, 56, 105, 1);
    --ads-color-pink-light-solid-300: rgba(235, 91, 131, 1);
    --ads-color-pink-light-solid-200: rgba(241, 138, 166, 1);
    --ads-color-pink-light-solid-100: rgba(247, 184, 201, 1);
    --ads-color-pink-light-solid-50: rgba(252, 227, 233, 1);
    --ads-color-pink-light-opacity-100: rgba(223, 15, 80, 1);
    --ads-color-pink-light-opacity-90: rgba(223, 15, 80, 0.8999999761581421);
    --ads-color-pink-light-opacity-75: rgba(223, 15, 80, 0.75);
    --ads-color-pink-light-opacity-50: rgba(223, 15, 80, 0.5);
    --ads-color-pink-light-opacity-25: rgba(223, 15, 80, 0.25);
    --ads-color-pink-light-opacity-12: rgba(223, 15, 80, 0.11999999731779099);
    --ads-color-pink-light-opacity-08: rgba(223, 15, 80, 0.07999999821186066);
    --ads-color-pink-light-opacity-04: rgba(223, 15, 80, 0.03999999910593033);
    --ads-color-pink-light-opacity-02: rgba(223, 15, 80, 0.019999999552965164);
    --ads-color-pink-dark-solid-900: rgba(152, 0, 76, 1);
    --ads-color-pink-dark-solid-800: rgba(189, 0, 80, 1);
    --ads-color-pink-dark-solid-700: rgba(210, 0, 83, 1);
    --ads-color-pink-dark-solid-600: rgba(232, 0, 86, 1);
    --ads-color-pink-dark-solid-500: rgba(248, 0, 88, 1);
    --ads-color-pink-dark-solid-400: rgba(253, 44, 113, 1);
    --ads-color-pink-dark-solid-300: rgba(255, 89, 139, 1);
    --ads-color-pink-dark-solid-200: rgba(255, 139, 172, 1);
    --ads-color-pink-dark-solid-100: rgba(247, 184, 201, 1);
    --ads-color-pink-dark-solid-50: rgba(252, 227, 233, 1);
    --ads-color-pink-dark-opacity-100: rgba(255, 89, 140, 1);
    --ads-color-pink-dark-opacity-90: rgba(255, 89, 140, 0.8999999761581421);
    --ads-color-pink-dark-opacity-75: rgba(255, 89, 140, 0.75);
    --ads-color-pink-dark-opacity-50: rgba(255, 89, 140, 0.5);
    --ads-color-pink-dark-opacity-25: rgba(255, 89, 140, 0.25);
    --ads-color-pink-dark-opacity-12: rgba(255, 89, 140, 0.11999999731779099);
    --ads-color-pink-dark-opacity-08: rgba(255, 89, 140, 0.07999999821186066);
    --ads-color-pink-dark-opacity-04: rgba(255, 89, 140, 0.03999999910593033);
    --ads-color-pink-dark-opacity-02: rgba(255, 89, 140, 0.019999999552965164);
    --ads-color-green-light-solid-900: rgba(0, 91, 31, 1);
    --ads-color-green-light-solid-800: rgba(0, 122, 51, 1);
    --ads-color-green-light-solid-700: rgba(0, 139, 62, 1);
    --ads-color-green-light-solid-600: rgba(0, 157, 74, 1);
    --ads-color-green-light-solid-500: rgba(0, 172, 82, 1);
    --ads-color-green-light-solid-400: rgba(66, 185, 109, 1);
    --ads-color-green-light-solid-300: rgba(104, 197, 134, 1);
    --ads-color-green-light-solid-200: rgba(150, 213, 168, 1);
    --ads-color-green-light-solid-100: rgba(191, 229, 202, 1);
    --ads-color-green-light-solid-50: rgba(229, 245, 233, 1);
    --ads-color-green-dark-solid-900: rgba(0, 98, 8, 1);
    --ads-color-green-dark-solid-800: rgba(0, 129, 33, 1);
    --ads-color-green-dark-solid-700: rgba(0, 146, 45, 1);
    --ads-color-green-dark-solid-600: rgba(0, 164, 57, 1);
    --ads-color-green-dark-solid-500: rgba(0, 179, 65, 1);
    --ads-color-green-dark-solid-400: rgba(68, 191, 95, 1);
    --ads-color-green-dark-solid-300: rgba(107, 202, 124, 1);
    --ads-color-green-dark-solid-200: rgba(152, 217, 162, 1);
    --ads-color-green-dark-solid-100: rgba(193, 232, 198, 1);
    --ads-color-green-dark-solid-50: rgba(229, 246, 232, 1);
    --ads-color-green-light-opacity-100: rgba(0, 172, 82, 1);
    --ads-color-green-light-opacity-90: rgba(0, 172, 82, 0.8999999761581421);
    --ads-color-green-light-opacity-75: rgba(0, 172, 82, 0.75);
    --ads-color-green-light-opacity-50: rgba(0, 172, 82, 0.5);
    --ads-color-green-light-opacity-25: rgba(0, 172, 82, 0.25);
    --ads-color-green-light-opacity-12: rgba(0, 172, 82, 0.11999999731779099);
    --ads-color-green-light-opacity-08: rgba(0, 172, 82, 0.07999999821186066);
    --ads-color-green-light-opacity-04: rgba(0, 172, 82, 0.03999999910593033);
    --ads-color-green-light-opacity-02: rgba(0, 172, 82, 0.019999999552965164);
    --ads-color-blue-light-solid-900: rgba(0, 83, 144, 1);
    --ads-color-blue-light-solid-800: rgba(0, 115, 178, 1);
    --ads-color-blue-light-solid-700: rgba(0, 132, 198, 1);
    --ads-color-blue-light-solid-600: rgba(2, 150, 217, 1);
    --ads-color-blue-light-solid-500: rgba(5, 163, 232, 1);
    --ads-color-blue-light-solid-400: rgba(43, 177, 235, 1);
    --ads-color-blue-light-solid-300: rgba(79, 191, 238, 1);
    --ads-color-blue-light-solid-200: rgba(128, 209, 243, 1);
    --ads-color-blue-light-solid-100: rgba(178, 227, 248, 1);
    --ads-color-blue-light-solid-50: rgba(225, 244, 252, 1);
    --ads-color-yellow-light-solid-900: rgba(255, 109, 0, 1);
    --ads-color-yellow-light-solid-800: rgba(255, 141, 0, 1);
    --ads-color-yellow-light-solid-700: rgba(255, 158, 0, 1);
    --ads-color-yellow-light-solid-600: rgba(255, 177, 0, 1);
    --ads-color-yellow-light-solid-500: rgba(255, 191, 0, 1);
    --ads-color-yellow-light-solid-400: rgba(255, 200, 37, 1);
    --ads-color-yellow-light-solid-300: rgba(255, 212, 77, 1);
    --ads-color-yellow-light-solid-200: rgba(255, 223, 129, 1);
    --ads-color-yellow-light-solid-100: rgba(255, 235, 178, 1);
    --ads-color-yellow-light-solid-50: rgba(255, 248, 225, 1);
    --ads-color-yellow-light-opacity-100: rgba(255, 191, 0, 1);
    --ads-color-yellow-light-opacity-90: rgba(255, 191, 0, 0.8999999761581421);
    --ads-color-yellow-light-opacity-75: rgba(255, 191, 0, 0.75);
    --ads-color-yellow-light-opacity-50: rgba(255, 191, 0, 0.5);
    --ads-color-yellow-light-opacity-25: rgba(255, 191, 0, 0.25);
    --ads-color-yellow-light-opacity-12: rgba(255, 191, 0, 0.11999999731779099);
    --ads-color-yellow-light-opacity-08: rgba(255, 191, 0, 0.07999999821186066);
    --ads-color-yellow-light-opacity-04: rgba(255, 191, 0, 0.03999999910593033);
    --ads-color-yellow-light-opacity-02: rgba(255, 191, 0, 0.019999999552965164);
    --ads-color-yellow-dark-solid-900: rgba(255, 109, 0, 1);
    --ads-color-yellow-dark-solid-800: rgba(255, 141, 0, 1);
    --ads-color-yellow-dark-solid-700: rgba(255, 158, 0, 1);
    --ads-color-yellow-dark-solid-600: rgba(255, 177, 0, 1);
    --ads-color-yellow-dark-solid-500: rgba(255, 191, 0, 1);
    --ads-color-yellow-dark-solid-400: rgba(255, 200, 37, 1);
    --ads-color-yellow-dark-solid-300: rgba(255, 212, 77, 1);
    --ads-color-yellow-dark-solid-200: rgba(255, 223, 129, 1);
    --ads-color-yellow-dark-solid-100: rgba(255, 235, 178, 1);
    --ads-color-yellow-dark-solid-50: rgba(255, 248, 225, 1);
    --ads-color-yellow-dark-opacity-100: rgba(255, 191, 0, 1);
    --ads-color-yellow-dark-opacity-90: rgba(255, 191, 0, 0.8999999761581421);
    --ads-color-yellow-dark-opacity-75: rgba(255, 191, 0, 0.75);
    --ads-color-yellow-dark-opacity-50: rgba(255, 191, 0, 0.5);
    --ads-color-yellow-dark-opacity-25: rgba(255, 191, 0, 0.25);
    --ads-color-yellow-dark-opacity-12: rgba(255, 191, 0, 0.11999999731779099);
    --ads-color-yellow-dark-opacity-08: rgba(255, 191, 0, 0.07999999821186066);
    --ads-color-yellow-dark-opacity-04: rgba(255, 191, 0, 0.03999999910593033);
    --ads-color-yellow-dark-opacity-02: rgba(255, 191, 0, 0.019999999552965164);
    --ads-color-red-light-solid-900: rgba(193, 24, 38, 1);
    --ads-color-red-light-solid-800: rgba(208, 38, 50, 1);
    --ads-color-red-light-solid-700: rgba(221, 46, 58, 1);
    --ads-color-red-light-solid-600: rgba(239, 56, 64, 1);
    --ads-color-red-light-solid-500: rgba(255, 66, 66, 1);
    --ads-color-red-light-solid-400: rgba(248, 84, 90, 1);
    --ads-color-red-light-solid-300: rgba(236, 117, 123, 1);
    --ads-color-red-light-solid-200: rgba(243, 156, 160, 1);
    --ads-color-red-light-solid-100: rgba(255, 207, 214, 1);
    --ads-color-red-light-solid-50: rgba(255, 236, 240, 1);
    --ads-color-red-light-opacity-100: rgba(255, 66, 66, 1);
    --ads-color-red-light-opacity-90: rgba(255, 66, 66, 0.8999999761581421);
    --ads-color-red-light-opacity-75: rgba(255, 66, 66, 0.75);
    --ads-color-red-light-opacity-50: rgba(255, 66, 66, 0.5);
    --ads-color-red-light-opacity-25: rgba(255, 66, 66, 0.25);
    --ads-color-red-light-opacity-12: rgba(255, 66, 66, 0.11999999731779099);
    --ads-color-red-light-opacity-08: rgba(255, 66, 66, 0.07999999821186066);
    --ads-color-red-light-opacity-04: rgba(255, 66, 66, 0.03999999910593033);
    --ads-color-red-light-opacity-02: rgba(255, 66, 66, 0.019999999552965164);
    --ads-color-red-dark-solid-900: rgba(193, 24, 38, 1);
    --ads-color-red-dark-solid-800: rgba(208, 38, 50, 1);
    --ads-color-red-dark-solid-700: rgba(221, 46, 58, 1);
    --ads-color-red-dark-solid-600: rgba(239, 56, 64, 1);
    --ads-color-red-dark-solid-500: rgba(255, 66, 66, 1);
    --ads-color-red-dark-solid-400: rgba(248, 84, 90, 1);
    --ads-color-red-dark-solid-300: rgba(236, 117, 123, 1);
    --ads-color-red-dark-solid-200: rgba(243, 156, 160, 1);
    --ads-color-red-dark-solid-100: rgba(255, 207, 214, 1);
    --ads-color-red-dark-solid-50: rgba(255, 236, 240, 1);
    --ads-color-red-dark-opacity-100: rgba(255, 66, 66, 1);
    --ads-color-red-dark-opacity-90: rgba(255, 66, 66, 0.8999999761581421);
    --ads-color-red-dark-opacity-75: rgba(255, 66, 66, 0.75);
    --ads-color-red-dark-opacity-50: rgba(255, 66, 66, 0.5);
    --ads-color-red-dark-opacity-25: rgba(255, 66, 66, 0.25);
    --ads-color-red-dark-opacity-12: rgba(255, 66, 66, 0.11999999731779099);
    --ads-color-red-dark-opacity-08: rgba(255, 66, 66, 0.07999999821186066);
    --ads-color-red-dark-opacity-04: rgba(255, 66, 66, 0.03999999910593033);
    --ads-color-red-dark-opacity-02: rgba(255, 66, 66, 0.019999999552965164);
    --ads-color-grayscale-dark-00: rgba(9, 9, 11, 1);
    --ads-color-grayscale-dark-05: rgba(19, 20, 23, 1);
    --ads-color-grayscale-dark-10: rgba(29, 30, 33, 1);
    --ads-color-grayscale-dark-20: rgba(37, 38, 41, 1);
    --ads-color-grayscale-dark-30: rgba(55, 57, 61, 1);
    --ads-color-grayscale-dark-40: rgba(97, 101, 107, 1);
    --ads-color-grayscale-dark-50: rgba(136, 141, 148, 1);
    --ads-color-grayscale-dark-60: rgba(181, 186, 191, 1);
    --ads-color-grayscale-dark-70: rgba(223, 228, 235, 1);
    --ads-color-grayscale-dark-80: rgba(237, 241, 245, 1);
    --ads-color-grayscale-dark-90: rgba(247, 249, 250, 1);
    --ads-color-green-dark-opacity-100: rgba(0, 179, 65, 1);
    --ads-color-green-dark-opacity-90: rgba(0, 179, 65, 0.8999999761581421);
    --ads-color-green-dark-opacity-75: rgba(0, 179, 65, 0.75);
    --ads-color-green-dark-opacity-50: rgba(0, 179, 65, 0.5);
    --ads-color-green-dark-opacity-25: rgba(0, 179, 65, 0.25);
    --ads-color-green-dark-opacity-12: rgba(0, 179, 65, 0.11999999731779099);
    --ads-color-green-dark-opacity-08: rgba(0, 179, 65, 0.07999999821186066);
    --ads-color-green-dark-opacity-04: rgba(0, 179, 65, 0.03999999910593033);
    --ads-color-green-dark-opacity-02: rgba(0, 179, 65, 0.019999999552965164);
    --ads-color-blue-dark-solid-900: rgba(0, 83, 144, 1);
    --ads-color-blue-light-opacity-100: rgba(5, 163, 232, 1);
    --ads-color-blue-light-opacity-90: rgba(5, 163, 232, 0.8999999761581421);
    --ads-color-blue-light-opacity-75: rgba(5, 163, 232, 0.75);
    --ads-color-blue-light-opacity-50: rgba(5, 163, 232, 0.5);
    --ads-color-blue-light-opacity-25: rgba(5, 163, 232, 0.25);
    --ads-color-blue-light-opacity-12: rgba(5, 163, 232, 0.11999999731779099);
    --ads-color-blue-light-opacity-08: rgba(5, 163, 232, 0.07999999821186066);
    --ads-color-blue-light-opacity-04: rgba(5, 163, 232, 0.03999999910593033);
    --ads-color-blue-light-opacity-02: rgba(5, 163, 232, 0.019999999552965164);
    --ads-color-blue-dark-opacity-100: rgba(5, 163, 232, 1);
    --ads-color-blue-dark-solid-800: rgba(0, 115, 178, 1);
    --ads-color-blue-dark-solid-700: rgba(0, 132, 198, 1);
    --ads-color-blue-dark-opacity-90: rgba(5, 163, 232, 0.8999999761581421);
    --ads-color-blue-dark-solid-600: rgba(2, 150, 217, 1);
    --ads-color-blue-dark-opacity-75: rgba(5, 163, 232, 0.75);
    --ads-color-blue-dark-solid-500: rgba(5, 163, 232, 1);
    --ads-color-blue-dark-opacity-50: rgba(5, 163, 232, 0.5);
    --ads-color-blue-dark-solid-400: rgba(43, 177, 235, 1);
    --ads-color-blue-dark-opacity-25: rgba(5, 163, 232, 0.25);
    --ads-color-blue-dark-solid-300: rgba(79, 191, 238, 1);
    --ads-color-blue-dark-opacity-12: rgba(5, 163, 232, 0.11999999731779099);
    --ads-color-blue-dark-opacity-08: rgba(5, 163, 232, 0.07999999821186066);
    --ads-color-blue-dark-solid-200: rgba(128, 209, 243, 1);
    --ads-color-blue-dark-solid-100: rgba(178, 227, 248, 1);
    --ads-color-blue-dark-opacity-04: rgba(5, 163, 232, 0.03999999910593033);
    --ads-color-blue-dark-solid-50: rgba(225, 244, 252, 1);
    --ads-color-blue-dark-opacity-02: rgba(5, 163, 232, 0.019999999552965164);
  }